<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>database.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>database.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>database.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTitle</servlet-name>
        <servlet-class>database.AddTitle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTitle</servlet-name>
        <servlet-class>database.RemoveTitle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAndroid</servlet-name>
        <servlet-class>andoridServices.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NameSurname</servlet-name>
        <servlet-class>android.NameSurname</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>android.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataTable</servlet-name>
        <servlet-class>android.DataTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTitlesMissing</servlet-name>
        <servlet-class>android.ListTitlesMissing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTitleValues</servlet-name>
        <servlet-class>android.GetTitleValues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTitle</servlet-name>
        <servlet-class>android.DeleteTitle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTitleAndroid</servlet-name>
        <servlet-class>android.AddTitle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTitle</servlet-name>
        <url-pattern>/AddTitle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTitle</servlet-name>
        <url-pattern>/RemoveTitle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAndroid</servlet-name>
        <url-pattern>/LoginAndroid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NameSurname</servlet-name>
        <url-pattern>/NameSurname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataTable</servlet-name>
        <url-pattern>/DataTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTitlesMissing</servlet-name>
        <url-pattern>/ListTitlesMissing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTitleValues</servlet-name>
        <url-pattern>/GetTitleValues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTitle</servlet-name>
        <url-pattern>/DeleteTitle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTitleAndroid</servlet-name>
        <url-pattern>/AddTitleAndroid</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.html</location>
    </error-page>
</web-app>
